.env
node_modules/
.DS_Store
npm-debug.log
yarn-error.log
.env.local
.env.*.local
.vscode/
.idea/
dist/
build/
coverage/
logs/
*.log
pids/
*.pid
*.seed

*.pid.lock
public/uploads/
./uploads/
*.sqlite
*.sqlite3
*.tgz
*.zip
*.tar.gz
*.env
*.env.local
*.env.*.local
.env.test
.env.production
.env.staging    
